.user-actions .action-btn {
    width: 100%;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #212121;
    color: #ffffff;
    margin-bottom: 10px;
}

.user-actions .flirt-btn {
    background-color: #4A8AF4;
}

.user-actions .bite-btn {
    background-color: #1AA15F;
}

.user-actions .stop-flirting-btn {
    background-color: #FFCD42;
}

.user-actions .end-conversation-btn {
    background-color: #DD5145;
}